@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



:root {
    --main-font: 'Open Sans', sans-serif;
    --heading-font: 'Poppins', sans-serif;


    --primary-color: #ff52bf;

    --neutral-color-1: #ebfbff;
    --neutral-color-2: #00252e;
    --neutral-color-3: #808d99;


    --main-font-size: 18px;
}




.container{
    width: 90%;
    margin: auto;
    max-width: 1600px;
}






/**
* ! style rules for button without font-size
**/

.pink-btn,
.white-btn{
    font-family: var(--main-font);
    padding: 20px 80px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: white;
    color: var(--neutral-color-2);
    box-shadow: 1px 1px 9px -6px var(--neutral-color-2);
}
.pink-btn{
    background-color: var(--primary-color);
    color: white;
    box-shadow: none;
}






/**
* ! style rules for title without font-size
**/

.common-title{
    color: var(--neutral-color-2);
    font-family: var(--heading-font);
    font-weight: 600;
}







/**
* ! style rules for description without color
**/

.common-description{
    font-family: var(--main-font);
    font-size: 20px;
}







/*===============HEADER SECTION START=================*/
.header{
    background: url(../images/bg-hero-desktop.svg), linear-gradient(to right, rgba(237,251,254,255), rgba(237,251,254,255));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*===============HEADER SECTION END=================*/










/*===============NAVBAR SECTION START=================*/
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
nav .container .logo img{
    width: 240px;
    cursor: pointer;
}
nav .container .btn button{
    font-size: 18px;
    font-weight: 700;

}
/*===============NAVBAR SECTION END=================*/










/*===============HERO SECTION START=================*/
.hero-sec{
    width: 100%;
}
.hero-sec .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    gap: 50px;
    
    padding: 50px 0;
}

.hero-sec__text{
    flex-basis: calc(45% - 25px);
}
.hero-sec__text h2{
    font-size: 50px;
}
.hero-sec__text p{
    color: var(--neutral-color-2);
    font-weight: 600;
    margin: 40px 0;
}
.hero-sec__text button{
    font-size: 16px;
    font-weight: 600;
}

.hero-sec__img{
    flex-basis: calc(55% - 25px);
}
.hero-sec__img img{
    width: 100%;
}
/*===============HERO SECTION END=================*/












/*===============SERVICE MSG SECTION START=================*/
.service-msg-sec .container{
    padding: 200px 0;
    padding-bottom: 400px;

    display: flex;
    align-items: center;

    flex-direction: column;

    gap: 50px;
}
.service-msg-sec .container .card{
    box-shadow: 1px 1px 47px -24px #999;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-flow: row wrap;

    gap: 30px;

    padding: 60px 40px 60px 150px;
}
.service-msg-sec .container .card .card__text-sec{
    flex-basis: 40%;
}
.service-msg-sec .container .card .card__text-sec h3{
    color: var(--neutral-color-2);
    font-size: 35px;
    margin-bottom: 15px;
}
.service-msg-sec .container .card p{
    color: var(--neutral-color-3);
}
.service-msg-sec .container .card .card__img-sec{
    flex-basis: 40%;
}
.service-msg-sec .container .card .card__img-sec img{
    width: 100%;
}
/*===============SERVICE MSG SECTION END=================*/










/*===============COMMUNITY BOX START=================*/
.community-box{
    padding: 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 1px 1px 47px -24px #999;

    width: 992px;
    background-color: white;

    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
}
.community-box h3{
    font-size: 40px;
}
.community-box button{
    font-size: 25px;
    font-weight: 600;
    margin-top: 35px;
    border-radius: 40px;
    padding: 25px 90px;
}
/*===============COMMUNITY BOX END=================*/












/*===============FOOTER SECTION START=================*/
.footer-sec{
    background-color: var(--neutral-color-2);
    color: white;

    padding: 200px 0 100px 0;

    position: relative;
}
.footer-sec .main-footer .link-and-location{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;
    font-size: 20px;
    color: var(--neutral-color-1);
    font-family: var(--main-font);
}
.footer-sec .main-footer .link-and-location .row a{
    color: var(--neutral-color-1);
    display: block;
    margin: 30px 0;
}
.footer-sec .main-footer .link-and-location .row-1{
    width: 35%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-sec .main-footer .link-and-location .row-1 img{
    margin-right: 20px;
}
.footer-sec .main-footer .link-and-location .row-2,
.footer-sec .main-footer .link-and-location .row-3{
    width: 20%;
}
.footer-sec .main-footer .link-and-location .row-4{
    width: 25%;
}
.footer-sec .main-footer .link-and-location .row-4 i{
    padding: 10px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid var(--neutral-color-1);

    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
}
.footer-sec .main-footer .copyright{
    margin-top: 40px;
    text-align: right;
}
.footer-sec .main-footer .copyright span{
    font-size: 14px;
    color: var(--neutral-color-1);
    font-family: var(--main-font);
}
/*===============FOOTER SECTION END=================*/
















/*===============MEDIA QUERI START=================*/
@media screen and (max-width: 1440px){
    .hero-sec__text h2{
        font-size: 45px;
    }
    .hero-sec__text p{
        font-size: 18px;
    }
}






@media screen and (max-width: 1200px){
    .hero-sec__text h2{
        font-size: 40px;
    }
    .hero-sec__text p{
        font-size: 16px;
        margin: 30px 0;
    }





    .service-msg-sec .container .card p{
        font-size: 18px;
    }
}







@media screen and (max-width: 992px){
    .hero-sec .container{
        display: flex;
    }
    .hero-sec__text{
        flex-basis: 100%;
        text-align: center;
    }
    .hero-sec__img{
        flex-basis: 100%;
    }







    .service-msg-sec .container .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        flex-flow: column wrap;
    
        padding: 60px;
        text-align: center;
    }
    .service-msg-sec .container .card:nth-child(odd) .card__text-sec{
        order: 2;
    }
    .service-msg-sec .container .card .card__img-sec{
        width: 90%;
    }








    .community-box{
        width: 80%;
    
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
    }
    .community-box h3{
        font-size: 30px;
    }
    .community-box button{
        font-size: 20px;
        padding: 20px 70px;
    }











    .footer-sec .main-footer .link-and-location{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 40px;

        flex-direction: column;
        text-align: left;
    }
    .footer-sec .main-footer .link-and-location .row-1,
    .footer-sec .main-footer .link-and-location .row-2,
    .footer-sec .main-footer .link-and-location .row-3,
    .footer-sec .main-footer .link-and-location .row-4{
        width: 100%;
    }
    .footer-sec .main-footer .link-and-location .row-4{
        text-align: center;
    }
    .footer-sec .main-footer .copyright{
        text-align: center;
    }
    .footer-sec .main-footer .copyright span{
        font-size: 14px;
        color: var(--neutral-color-1);
        font-family: var(--main-font);
    }
}








@media screen and (max-width: 768px){

    .white-btn,
    .pink-btn{
        padding: 15px 50px;
    }





    nav .container .logo img{
        width: 200px;
    }
    nav .container .btn button{
        font-size: 16px;
    }



}











@media screen and (max-width: 574px){
    .header{
        background: url(../images/bg-hero-mobile.svg), linear-gradient(to right, rgba(237,251,254,255), rgba(237,251,254,255));
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }







    .white-btn,
    .pink-btn{
        padding: 10px 40px;
    }





    nav .container .logo img{
        width: 150px;
    }
    nav .container .btn button{
        font-size: 14px;
    }





    .hero-sec__text h2{
        font-size: 30px;
    }
    .hero-sec__text p{
        font-size: 16px;
        margin: 20px 0;
    }










    .service-msg-sec .container .card .card__img-sec{
        width: 100%;
    }
    .service-msg-sec .container .card .card__text-sec h3{
        font-size: 30px;
    }
    .service-msg-sec .container .card p{
        font-size: 16px;
    }










    .community-box h3{
        font-size: 25px;
    }
    .community-box button{
        font-size: 15px;
        padding: 10px 50px;
    }
}
/*===============MEDIA QUERI END=================*/